// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: fontLD;
    src: url('../fonts/LongdonDecorative-5aPv.ttf');
}

* {
    font-family: fontLD;
}

$link_color: #000;
$link_color_href: #e3342f;
$block-max-height: 325px;
$block-max-width: 300px;

a {
    text-decoration: none;
    color: $link_color;
    &:hover {
        text-decoration: none;
        color: $link_color_href;
    }
}

.psb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-flow: row nowrap;
}

.menu-left {
    flex-grow: 9;
}

.menu-right {
    flex-grow: 1;
    padding: 5px;
    border-left: 1px solid $link_color;
    margin-left: 5px;
}

.btn-form-sub {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.home-slider {
    max-height: $block-max-height;
    overflow: hidden;
    flex-direction: column;
}

%home-slider-wta {
    width: calc((100%/2) - 80px);
    text-align: center;
}

.home-slider-left-block {
    @extend %home-slider-wta;
}

.home-slider-right-block {
    @extend %home-slider-wta;
    justify-content: center;
    position: relative;
    img {
        margin-bottom: 25px;
        max-width: 325px;
    }
}

.home-slider-block-arrow {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: $block-max-height;
    align-items: center;
}

%home-slider-fs {
    font-size: 30px;
}

.home-slider-arrow-down {
    @extend %home-slider-fs
}

.home-slider-arrow-up {
    @extend %home-slider-fs
}

.home-slider-img {
    display: none;
}

.home-slider-img.active {
    display: block;
}

%home-block-rating-tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.home-rating {
    @extend %home-block-rating-tab
}

.home-tab {
    @extend %home-block-rating-tab

}

%home-block-rating-tab-info {
    height: $block-max-height;
    width: $block-max-width;
    margin: 10px;
    position: relative;
}

%home-block-rating-tab-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

%home-block-rating-tab-title {
    height: 100%;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-rating-link {
    @extend %home-block-rating-tab-info;
    img {
        @extend %home-block-rating-tab-img
    }
    .home-rating-title {
       @extend %home-block-rating-tab-title
    }
}

.home-tab-link {
    @extend %home-block-rating-tab-info;
    img {
        @extend %home-block-rating-tab-img
    }
    .home-tab-title {
        @extend %home-block-rating-tab-title
    }
}

.home-news-link {
    display: flex;
    flex-wrap: wrap;
    img {
        @extend %home-block-rating-tab-info
    }
    .home-news-info {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        flex-direction: column;
    }

}
